                                                                                                                                                      # This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Build and Upload to PyPI

on:
    push:
        tags:
            - 'v*'

permissions:
    contents: read

jobs:
    pypi-upload:
        needs: [test]
        if: github.ref == 'refs/heads/main'
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
                with:
                    fetch-depth: 0
            -   name: Install poetry
                run: pipx install poetry

            -   name: Set up Python 3.10
                uses: actions/setup-python@v3
                with:
                    python-version: "3.10"

            -   name: Install dependencies
                run: poetry install

            -   name: Build Python Package
                run: |
                    poetry build -f sdist
                    poetry install
                    echo "Builded DicePlayer - $(poetry version)"

            -   name: Configure PyPI
                run: |
                    poetry config repositories.pypi https://upload.pypi.org/legacy/
                    poetry config pypi-token.pypi ${{secrets.PYPI_TOKEN}}

            -   name: Upload Python Package
                run: |
                    poetry publish --repository pypi