                                                                                                                                                      # This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: build and upload

on:
    push

permissions:
    contents: read

jobs:

    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version:
                    - "3.10"
        steps:
            -   uses: actions/checkout@v3
                with:
                    fetch-depth: 0

            -   name: Set up Python 3.10
                uses: actions/setup-python@v3
                with:
                    python-version: "3.10"

            - name: Install uv
              uses: astral-sh/setup-uv@v5
              with:
                  # Install a specific version of uv.
                  version: "0.9.15"
                  enable-cache: true
                  cache-dependency-glob: "uv.lock"
                  python-version: ${{ matrix.python-version }}

            - name: Install dependencies
              run: uv sync --all-extras --dev

            - name: Run unittest
              run: |
                  uv run python -m unittest

    pypi-upload:
        needs: [test]
        if: startsWith(github.ref, 'refs/tags/v')
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
                with:
                    fetch-depth: 0

            -   name: Set up Python 3.10
                uses: actions/setup-python@v3
                with:
                    python-version: "3.10"

            - name: Install uv
              uses: astral-sh/setup-uv@v5
              with:
                  # Install a specific version of uv.
                  version: "0.9.15"
                  enable-cache: true
                  cache-dependency-glob: "uv.lock"
                  python-version: ${{ matrix.python-version }}

            - name: Install dependencies
              run: uv sync

            - name: Build source distribution
              run: uv build --sdist

            - name: Upload Python Package
              run: |
                  uv publish -t ${{ secrets.PYPI_TOKEN }}